@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1A1410;
}

::-webkit-scrollbar-thumb {
  background: #4ECDC4;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3DBCB3;
}

* {
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
